<section class="article_section">
    <div class="breadcrumps">
        <span class="breadcrumps__title"><h2>Ansible > commands</h2></span>
        <hr>
    </div>
    <div class="article_part">Purpose:
        <br>
        <span class="purpose">ping servers</span>
    </div>
    <div class="article_part">Command:
        <br>
        <span class="command">ping</span>
    </div>
    <div class="article_part">Example:
        <br>
        <span class="example">ansible all -m ping</span>
    </div>
    <div class="article_part">Additional info:
    <br>
        <span class="comments">this will work if you have setup config to know what is the inventory file
            if it’s not setup use: ansible -I ./hosts.txt all -m ping</span>
    </div>
</section>