<aside>
    <ul id="topics_menu">
        <li id='${el}' class='topic'>
            <span>${el}</span>
            <ul class="subtopic">
                <li data-id="${el._id}" class="subtopic-item">${el.technology}</li>
            </ul>
        </li>
    </ul>
</aside>