<header>
    <diV class="header_wrapper">
        <h1><a href="/">KB App</a></h1>

        <div class="header_navigation">
            <div class="search_container">
                <input type="text" id="search" placeholder="Search...">
            </div>
            <div class="navigation">
                <div id="admin-panel"><a href="/admin_panel">⚙️ Admin Panel</a></div>
            </div>
        </div>
        
    </diV>
    
    
</header>