main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
a {
    text-decoration: none;
    color: aliceblue;
}
#search {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.preview_section,
.articles_list,
.create_form {
    text-align: center;
    width: 100%;
}
.articles_list {
    display: none;
}
.articles_list.active {
    display: block;
}
.subtopic {
    display: none;
}
.subtopic.active {
    display: block;
}
.nested_menu {
    display: none;
}
.nested_menu.active {
    display: block;
}
#topics_menu {
    padding-left: 1px;
}
.side_menu {
    width: 50%;
}
.subtopic-item {
    padding: 5px;
}
.subtopic {
    padding-top: 5px;
}
