<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Base</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/article.css">
</head>
<body>

    <%- include('partials/header') %>
    <main>
        <aside>
            <ul id="admin_menu">
                <li class="admin_action">
                    <span>Add article</span>
                    <ul>
                        <span>Which type</span>
                        <li id="action_add_guide" class="admin_action type-add">Guide</li>
                        <li id="action_add_response" class="admin_action type-add">Response</li>
                    </ul>
                </li>
                <li class="admin_action">
                    <span>Edit/Delete article</span>
                    <ul>
                        <span>Which type</span>
                        <li id="action_edit_guide" class="admin_action type-edit">Guide</li>
                        <li id="action_edit_response" class="admin_action type-edit">Response</li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div id="create_guide" class="create_form">
            <h2>Create Guide</h2>
            <form method="post">
                <label for="technology"></label>
                <input id="technology" name="technology" placeholder="technology">
                <label for="purpose"></label>
                <input id="purpose" name="purpose" placeholder="purpose">
                <label for="command"></label>
                <input id="command" name="command" placeholder="command">
                <label for="example"></label>
                <input id="example" name="example" placeholder="example">
                <button id="creare_article" type="submit" data-route="">Submit</button>
            </form>
        </div>
        <div id="create_response" class="create_form">
            <h2>Create response</h2>
            <form method="post">
                <label for="subCategory"></label>
                <input id="subCategory" name="subCategory" placeholder="subCategory">
                <label for="topic"></label>
                <input id="topic" name="topic" placeholder="topic">
                <label for="text"></label>
                <input id="text" name="text" placeholder="text">
                <button id="creare_article" type="submit" data-route="">Submit</button>
            </form>
        </div>
        <div class="articles_list"></div>
    </main>

    
    <script src="../scripts/partials/admin_panel.js"></script>
</body>
<%- include('partials/footer') %>
</html>