<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Base</title>
    <link rel="stylesheet" href="../styles/article.css">
</head>
<body>
<section class="article_section">
    <div class="breadcrumps">
        <span class="breadcrumps__title"><h2>Ansible > commands</h2></span>
        <hr>
    </div>
    <div class="article_part purpose">Purpose: ping servers</div>
    <div class="article_part command">Command: ping</div>
    <div class="article_part example">Example: vansible all -m ping</div>
    <div class="article_part comments">Additional info: this will work if you have setup config to know what is the inventory file
        if it’s not setup use: ansible -I ./hosts.txt all -m ping</div>
</section>
</body>