main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
#search {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}
#admin-panel {
    cursor: pointer;
}
aside {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    overflow-y: auto;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul li {
    padding: 10px;
    cursor: pointer;
}
aside ul li:hover {
    background-color: #555;
}
/* aside ul .subtopic {
    padding-left: 20px;
    display: none;
} */
main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.preview_section {
    text-align: center;
    width: 100%;
}
.subtopic {
    display: block;
}